.home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.home__title {
  padding-top: 93px;
  font-weight: 700;
  font-size: 72px;
  line-height: 104%;
  text-align: center;
  text-transform: uppercase;
  color: #162c4e;
  -webkit-animation: titleEffect 1s ease;
  animation: titleEffect 1s ease;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}
.home__description {
  padding-bottom: 32px;
  padding-top: 8px;
  -webkit-animation: homeEffect 1s ease;
  animation: homeEffect 1s ease;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}
.home__description-content {
  max-width: 423px;
  width: 100%;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.home__timer {
  display: flex;
  max-width: 588px;
  width: 100%;
  height: 130.18px;
  -webkit-animation: homeEffect 1s ease;
  animation: homeEffect 1s ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}
.home__timer-item {
  position: relative;
  flex: 0 1 auto;
  max-width: 132px;
  width: 100%;
  height: 129px;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  color: #162c4e;
  text-align: center;
}
.home__timer-item::after {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54.12px;
  background: url(../assets/content/timer-leaf.svg) no-repeat center/contain;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
.home__timer-item:first-child::after {
  content: "Days";
}
.home__timer-item:nth-child(2)::after {
  content: "Hours";
}
.home__timer-item:nth-child(3)::after {
  content: "Minutes";
}
.home__timer-item:last-child::after {
  content: "Seconds";
}
.home__timer-item:not(:first-child)::before {
  content: ":";
  position: absolute;
  left: -8px;
}

.event {
  padding: 70px 0;
  -webkit-animation: homeEffect 0.8s ease;
  animation: homeEffect 0.8s ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}
.event__text {
  text-align: center;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
}
.event__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 240px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  padding: 0 20px 0 28px;
  background-color: #1d4169;
  border-radius: 40px;
  transition: all 0.3s linear;
}
.event__arrow {
  cursor: pointer;
}
.event__button:active {
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.5));
}
